<h2>Selecciona la fecha</h2>

<section class="seccion-1">
    <div>
        <mat-form-field>
            <mat-label>Verbose datepicker</mat-label>
            <input matInput [matDatepicker]="dp" [formControl]="date">
            <mat-hint>MMMM DD, YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
    </div>
 <div style="margin-left: 1rem; margin-top: -0.3rem;">
        <h3>Fecha seleccionanda</h3>
        <p>{{date.value}}</p>
    </div> 
</section>